@media (max-width: 1200px)
  .container
    max-width: 960px

  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover

@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px

  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
      margin-right: auto       
    &-menu
      padding: 22px 10px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  
  .hotel
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      height: 450px
      margin-right: 0
      margin-bottom: 30px
    &-right
      flex-direction: row
  
  .booking
    width: 340px

  .map
    width: 340px
  
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 92%
  .search
    &__input
      max-width: 340px
  .navbar
    &__search
      margin-left: 70px 
      margin-right: auto   
    &-menu
      padding: 20px 0
      &__link
        font-size: 10px
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-info
      &__name
          margin-top: 10px
          margin-bottom: 0
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-wrapper
      justify-content: space-between 
      
  .stars
    flex-basis: auto    

@media (max-width: 576px)  
  .container
    max-width: 90%
  .navbar
    &__search
      margin-left: 20px 
      margin-right: auto
    &__user
      display: none 
  .hotel
    &-right
      flex-direction: column
    &-slider
      width: 340px
      height: 200px
  .booking
      margin-bottom: 20px
  

@media (min-width: 320px) and (max-width: 480px)
  .container
    width: 87%
  .logo
    width: 99px
  .navbar
    &-menu, &__search
      display: none
    &-top
      padding: 25px 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      border: none
      background-color: #fff
      cursor: pointer
      padding: 0
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-info
      padding-bottom: 38px
    &-right
      flex-direction: column
    &-slider
      width: 279px
      height: 179px

  .booking
    width: 100%

  .map
    width: 100%


  

      
    